.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  max-width: 95%;
}

.nav{
  min-width: 90%;
}

.tabList{
  display: flex;
  justify-content: center;
}

.searchBar{
  display: flex;
  flex-direction: row;
}

.cardDesColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDesHead{
  font: bold;
  font-size: clamp(.8rem, 2.5vw, 1.3rem);
}

.cardDesText{
  font: bold;
  font-size: clamp(.5rem, 1.5vw, .8rem);
}

.searchButton{
  margin-left: 1rem;
}

.searchRes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  margin: 1rem;
  display: flex;
  justify-content: center;
  max-width: 22%;
  height: 3%;
  min-width: 10rem !important;
  min-height: 20rem;
}

.poster{
  height: 40%;
}
.cardTitle{
  margin-bottom: 1rem;
}

.cardBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardFooter{
  display: flex;
  margin-top: 0.5rem;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}

.watchListControlCenter{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
}


.clearTitle{
  margin-right: 1rem;
}

.selectedStar{
  background: none;
  color: #ffc40c;
}